html, body {
  overflow-x: hidden;
}

body {
  background-color: rgb(229, 232, 232);
  font-family: Montserrat, sans-serif;
  color: white;
}

/*Navbar*/

.navbar-default {
  background-color: rgb(21, 67, 96);
  border-bottom: 1px solid black;
}

/*Title*/

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}

/*Links*/

.navbar-default .navbar-nav > li > a {
  color: white;
  border-top: 3px solid rgb(21, 67, 96);
}

.navbar-default .navbar-nav > li > a:hover {
  color: rgb(127, 179, 213);
}

.navbar-default .navbar-nav > li > a:focus {
  color: rgb(127, 179, 213);
  border-top: 3px solid rgb(127, 179, 213);
}

.navbar-default .navbar-nav > li > a:focus:hover {
  color: rgb(127, 179, 213);
  border-top: 3px solid rgb(127, 179, 213);
}

.opaque {
  background-color: rgba(23, 165, 137, 0.5);
  border-radius: 10px;
}

.jumbotron {
  background-image: url("http://www.brendansweeny.com/jumboWO3.jpeg");
  color: white;
  padding: 250px 20px 180px 20px;
  /*background-size: 1600px 900px;*/

  text-shadow: 1px 1px 2px grey;
  /*display: none;*/
  margin-bottom: 0px;
}

.title {
  color: white;
  margin-top: 0px;
  text-align: center;
  text-shadow: 1px 1px 2px grey;
}

#research-title {
  color: white;
}

.about {
  padding: 0px 50px 50px 50px;
  background: url(http://brendansweeny.com/portrait5-2.jpg) no-repeat top center local;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.research {
  margin-top: 50px;
}

.research .col-md-6 {
  padding: 10px;
}

.social-icon {
  color: white;
  background: #222;
  padding: 5px;
  border-radius: 3px;
  text-shadow: none;
}

.social-icon:hover {
  color: white;
  background: rgb(23, 165, 137);
}

.social-media {
  text-align: center;
  margin-top: 20px;
}

.grey {
  background-color: rgb(21, 67, 96);
}

.blurb > p {
  font-size: 8px;
}

.filler {
  padding-top: 0px;
}

.well {
  background: rgb(10, 33, 48);
  border: 1px solid black;
}

#pub-title {
  color: black;
}

.publications img {
  margin: 10px;
}

.green {
  background: rgb(23, 165, 137);
}

#JACS {
  height: 60px;
}

.social-contact {
    text-align: right;
}

.social-contact .social-icon:hover {
  background-color: rgb(21, 67, 96);
}

.ai-2x {
  font-size: 2em;
}

@media only screen and (min-width: 768px) {
  .filler {
    padding-top: 100px;
  }
  .blurb > p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 470px) {
  .blurb > p {
    font-size: 10px;
  }
}

@media only screen and (min-width: 550px) {
  .blurb > p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 660px) {
  .blurb > p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .filler {
    padding-top: 100px;
  }
  .blurb > p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .filler {
    padding-top: 200px;
  }
  .blurb > p {
    font-size: 26px;
  }
}
