header(class="masthead" style="background-image: #{image}")
  div(class="overlay")
  div(class="container")
    div(class="row")
      div(class="col-lg-8 col-md-10 mx-auto")
        div(class="site-heading")
          h1 #{heading}
          span(class="subheading") #{subheading}
          span(class="meta") #{meta}
          ul(class="list-inline text-center", style="padding-top: 20px;")
            li(class="list-inline-item")
              a(href="https://www.linkedin.com/in/brendansweeny/", target="_blank")
                span(class="fa-stack fa-lg")
                  i(class="fa fa-circle fa-stack-2x")
                  i(class="fab fa-linkedin fa-stack-1x fa-inverse")
            li(class="list-inline-item")
              a(href="https://scholar.google.com/citations?user=28fLASsAAAAJ&hl=en", target="_blank")
                span(class="fa-stack fa-lg")
                  i(class="fa fa-circle fa-stack-2x")
                  i(class="ai ai-google-scholar fa-stack-1x ai-inverse" style="color: white;")
            li(class="list-inline-item")
              a(href="https://github.com/BrendanSweeny", target="_blank")
                span(class="fa-stack fa-lg")
                  i(class="fa fa-circle fa-stack-2x")
                  i(class="fab fa-github fa-stack-1x fa-inverse")
            li(class="list-inline-item")
              a(href="https://twitter.com/brendan_sweeny", target="_blank")
                span(class="fa-stack fa-lg")
                  i(class="fa fa-circle fa-stack-2x")
                  i(class="fab fa-twitter fa-stack-1x fa-inverse")
